<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x86"/>
    </assemblyBinding>
  </runtime>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--资料处理间隔-->
    <add key="CronExp" value="*/1 * * * * ?" />
    <!--定时重跑记录中失败的资料-->
    <add key="LogCronExp" value="0 0 1 * * ?" />
  </appSettings>
  <connectionStrings>
    <add name="ConnString" connectionString="Data Source=qds150599395.my3w.com;Initial Catalog=qds150599395_db;User ID=qds150599395;Password=Sql440330" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>