<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" throwExceptions="true" internalLogToConsole="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="info_file" xsi:type="File" fileName="${basedir}/Logs/Info/${shortdate}Info.log" maxArchiveFiles="30"
            layout="${longdate} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}"/>
    <target name="debug_file" xsi:type="File" fileName="${basedir}/Logs/Debug/${shortdate}debug.log" maxArchiveFiles="30"
            layout="${longdate} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}"/>
    <target name="error_file" xsi:type="File" fileName="${basedir}/Logs/Error/${shortdate}error.log" maxArchiveFiles="30"
            layout="${longdate} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" /> 
  <target name="fatal_file" xsi:type="File" fileName="${basedir}/Logs/Fatal/${shortdate}fatal.log" maxArchiveFiles="30"
            layout="${message}" />
  <target name="trace_file" xsi:type="File" fileName="${basedir}/Logs/Trace/${shortdate}trace.log" maxArchiveFiles="30"
          layout="${longdate} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />

</targets>
  <rules>
    <logger name="*" level="Debug" writeTo="debug_file"/>
    <logger name="*" level="Error" writeTo="error_file"/>
    <logger name="*" level="Info" writeTo="info_file"/>
    <logger name="*" level="Fatal" writeTo="fatal_file"/>
    <logger name="*" level="Trace" writeTo="trace_file"/>

  </rules>
</nlog>
